doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title GroceryGo
        link(rel='stylesheet' href='/css/dashboard.css')
        link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap')
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet") 
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')

    body
        // Header
        header.header
            nav.navbar
                .navbar-left
                    a(href='/')
                        img.nav-logo(src='/img/grocerygo.png' alt='GroceryGo Logo')


        // Dashboard Content
        .dashboard-container
            .card
                h1 Dashboard
                .buttons-container
                    .button-row
                        button.btn(onclick="window.location.href='/addProducts'") 
                            img.btn-icon(src='/img/addproduct.png' alt='Add Product')
                            span Add Product
                        button.btn(onclick="window.location.href='/getallproducts'")

                            img.btn-icon(src='/img/get.png' alt='Get All Products')
                            span Get All Products
                    .button-row
                        button.btn(onclick="window.location.href='/getallproducts'")
                            img.btn-icon(src='/img/update.png' alt='Update Product')
                            span Update Product
                        button.btn(onclick="window.location.href='/getallproducts'")
                            img.btn-icon(src='/img/delete.png' alt='delete Product')
                            span delete Product
                    .button-row
                        button.btn
                            img.btn-icon(src='/img/reviews.png' alt='Get All Reviews')
                            span Get All Reviews
                        button.btn
                            img.btn-icon(src='/img/user.png' alt='Get Reviews By User')
                            span Get Reviews By User
                    .button-row
                        button.btn
                            img.btn-icon(src='/img/reviews.png' alt='Get Reviews By Product')
                            span Get Reviews By Product
                        button.btn
                            img.btn-icon(src='/img/reviews.png' alt='Get Review')
                            span Get Review

    // Background Image
    style.
        body {
            background: url('/img/dashboard11.jpg') no-repeat center center fixed;
            background-size: cover;
            opacity: 0.8;
        }
